<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.approvallatihan1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/Daftar_Cuti">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApprovalActivity"
            android:label="@string/Keterangan_Approval" />
        <activity
            android:name=".PenolakanActivity"
            android:label="@string/Keterangan_Penolakan" />
        <activity
            android:name=".PersetujuanHamilActivity"
            android:label="@string/Persetujuan_Cuti_Hamil" />
        <activity
            android:name=".PersetujuanTahunanActivity"
            android:label="@string/Persetujuan_Cuti_Tahunan" />
        <activity
            android:name=".PersetujuanCutiBesarActivity"
            android:label="@string/Persetujuan_Cuti_Besar"></activity>
    </application>

</manifest>